#layout-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-background);
}

#content {
    flex: 1;
}

app-navbar {
    justify-self: end;
    align-self: center;
    width: 100vw;
    background-color: var(--color-white);
}